body {
    position: relative;
    padding-top: 30px;
}
.margin-top-20 {
    margin-top: 20px;
}
.p2 {
    text-indent: 2em;
}
.font12 {
    font-size: 12px;
}

.debug {
    background-color: #000;
    color: #fff;
    text-align: left;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    padding: 20px;
}
.debug p {
    padding: 0 0 10px;
}
.form-horizontal label.error {
    margin-bottom: 0;
    margin-top: 9px;
    color: #B94A48;
}
.form-horizontal input.error, .form-horizontal select.error, .form-horizontal textarea.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

#birthdate label.error {
    display: none;
    margin-bottom: 0;
    margin-top: 9px;
    color: #B94A48;
}

.fav {
    display: block;
    width: 15px; height: 15px;
    background: url('/static/images/starnull.png');
}
.fav_loading {
    background: url('/static/images/loading.gif');
}
.is_fav_ed {
    background: url('/static/images/star.png');
}