{% include "head.html" %}

<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <h3>
                比分直播
                （{{ matchCnt }}）
                <div class="navbar-right">
                <button type="button" id="loading-reload-btn" data-loading-text="正在刷新..." class="btn btn-primary">刷新页面</button>
                <script>
                  $('#loading-reload-btn').click(function () {
                    var btn = $(this)
                    window.location.href=window.location.href;
                    btn.button('loading')
                  });
                </script>
                <small><strong>提示：</strong>比分直播不包含加时赛和点球大战</small>
                </div>
            </h3><hr/>
            
            
            
            <table class="table table-bordered table-responsive tableHover">
                <thead>
                    <tr class="info">
                    <th>赛事</th>
                    <th class="text-center"><img src="/static/images/icon_clock.png" style="vertical-align:middle;width:16px;" alt="时间" title="时间" /></th>
                    <th>主队 v 客队 （大小球）</th>
                    <th class="text-center">亚盘</th>
                    <th class="text-center"><img src="/static/images/icon_goal.png" style="vertical-align:middle;width:16px;" alt="进球" title="进球" /></th>
                    <th class="text-center"><img src="/static/images/icon_corner.png" style="vertical-align:middle;width:16px;" alt="角球" title="角球" /></th>
                    <th class="text-center">分析</th>
                    <th class="text-center">竞猜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for liveMatch in liveMatchs%}
                    <tr>
                        <td><a href="#">{{ liveMatch.matchType }}</a></td>
                        <td class="text-center"><font color='red'>{{ liveMatch.matchMinute }}’</font></td>
                        <td class="font12">
                            {{ liveMatch.homeTeam }} v {{ liveMatch.awayTeam }}
                            ({{ liveMatch.currentBigBall }})
                        </td>
                        <td class="text-center">
                                ({{ liveMatch.currentYaPeiBet }})
                        </td>
                        <td class="text-center">
                           <font color="red">{{ liveMatch.homeGoal }} v {{ liveMatch.awayGoal }}</font>
                        </td>
                        <td class="text-center">
                                {{ liveMatch.homeCorner }} v {{ liveMatch.awayCorner }}
                        </td>
                        <td class="text-center">
                            <a href="#" target="_blank">预测</a>
                        </td>
                        <td class="text-center">
                            <a href="#" target="_blank">竞猜</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}