<div id="footer" class="container"><hr>
<footer>
    <div class="row" id="copyright">
        <div class="col-md-6">
            <p>本站所有资料均由PK足球所有，如欲转载、建立镜像、选用或其他任何商业用途，请联系商谈</p>

        </div>
        <div class="col-md-6">
            <p class="text-right"><br/>
                Copyright © 2014 Pkhere.com. All Rights Reserved.
                <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5785713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D5785713%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </p>
        </div>
    </div>
</footer>
</div>
        </div>
    </body>
</html>