<tbody class="tournament-wrapper">
<tr class="thd-sim vx__header-strip">
<th class="c1 vx__sub-name algnl" colspan="1">
       英国友谊赛
      </th>
<th class="algnc" colspan="1">
       1
</th>
<th class="algnc" colspan="1">
       X
      </th>
<th class="algnc" colspan="1">
       2
      </th>
<th class="rbrdr algnc" colspan="1">
<div>
</div>
</th>
</tr>
<tr class="vx__media-slat col4">
<td class="c2 first vx__media-slat__pri-wrapper">
<a class="fxtr" data-sportskey="1-1-5-26339964-2-0-0-1-1-0-0-0-0-0-1-0-0-0-0-0-0" title="">
<span class="vx__media-slat__info-wrapper bb-four-one slat1 ">
<p class="grid-child participant">
<i class="vx__participant-info">
<span class="vx__time" data-clocktickdown="0" data-isclockactive="1">
            41:47
           </span>
</i>
<b>
           巴尼特
          </b>
</p>
<p class="grid-child vx__extra-info participant-extra">
</p>
<p class="grid-child participant-status">
          0
         </p>
</span>
<span class="vx__media-slat__info-wrapper bb-four-one slat2 ">
<p class="grid-child participant">
<i class="vx__participant-info">
<span class="time">
</span>
</i>
<b>
           鲁顿
          </b>
</p>
<p class="grid-child vx__extra-info participant-extra">
</p>
<p class="grid-child participant-status">
          0
         </p>
</span>
</a>
</td>
<td class="c4 vx__grad-cell line ti">
<a class="btn-odds-med" href="#" id="BS_pt=N#o=9/4#f=46617619#fp=582829107#so=0#c=1#">
        3.25
       </a>
</td>
<td class="c4 vx__grad-cell line mid ti">
<a class="btn-odds-med" href="#" id="BS_pt=N#o=6/4#f=46617619#fp=582829108#so=0#c=1#">
        2.50
       </a>
</td>
<td class="c4 vx__grad-cell line mid ti">
<a class="btn-odds-med" href="#" id="BS_pt=N#o=8/5#f=46617619#fp=582829109#so=0#c=1#">
        2.60
       </a>
</td>
<td class="c6 vx__grad-view" id="Td2">
<div class="vx__select-view " data-audiostreamingkey="" data-hasmatchlive="1" data-sportskey="1-1-5-26339964-2-0-0-1-1-0-0-0-0-0-1-0-0-0-0-0-0" data-strmclassificationid="1" data-strmfixtureid="46617619" data-strmproviderid="0">
<a class="vx__view-change ip-match-live" title="">
</a>
</div>
</td>
</tr>
<tr class="vx__media-slat col4">
<td class="c2 first vx__media-slat__pri-wrapper">
<a class="fxtr" data-sportskey="1-1-5-26340590-2-0-0-1-1-0-0-0-0-0-1-0-0-0-0-0-0" title="">
<span class="vx__media-slat__info-wrapper bb-four-one slat1 ">
<p class="grid-child participant">
<i class="vx__participant-info">
<span class="vx__time" data-clocktickdown="0" data-isclockactive="1">
            83:39
           </span>
</i>
<b>
           斯特灵
          </b>
</p>
<p class="grid-child vx__extra-info participant-extra">
</p>
<p class="grid-child participant-status">
          0
         </p>
</span>
<span class="vx__media-slat__info-wrapper bb-four-one slat2 ">
<p class="grid-child participant">
<i class="vx__participant-info">
<span class="time">
</span>
</i>
<b>
           喜百年
          </b>
</p>
<p class="grid-child vx__extra-info participant-extra">
</p>
<p class="grid-child participant-status">
          2
         </p>
</span>
</a>
</td>
<td class="c4 vx__grad-cell line nh ">
</td>
<td class="c4 vx__grad-cell line mid nh ">
</td>
<td class="c4 vx__grad-cell line mid nh ">
</td>
<td class="c6 vx__grad-view" id="Td2">
<div class="vx__select-view " data-audiostreamingkey="" data-hasmatchlive="1" data-sportskey="1-1-5-26340590-2-0-0-1-1-0-0-0-0-0-1-0-0-0-0-0-0" data-strmclassificationid="1" data-strmfixtureid="46618732" data-strmproviderid="0">
<a class="vx__view-change ip-match-live" title="">
</a>
</div>
</td>
</tr>
</tbody>


欧洲友谊赛
1
X
2
41:34
Sporting科维良
1
塞图巴尔
0
1.66
3.40
4.75
00:00
比兰恩斯
0
伊斯托里尔
0
2.87
3.60
2.20
45:00
泰罗芬斯
1
马迪亚拿
1
2.75
2.50
3.00
83:07
海法马卡比
2
PFK斯木尔格
0
1.002
51.00
67.00
20:52
科密 FC
0
纳沙尔狮
0
2.50
3.60
2.50
32:53
纳普里达克
0
苏波迪查
1
5.00
3.75
1.61
45:25
蒙扎
0
AC米兰
0
7.00
3.00
1.61
75:19
都灵
5
巴恩斯利
0
白俄罗斯超级联赛
1
X
2
65:59
明斯克戴拿模
2
戴拿模比斯特
0
1.002
51.00
51.00
比利时超级杯
1
X
2
45:42
安德莱赫特
1
洛格伦
0
1.25
4.75
15.00
保加利亚A PFG
1
X
2
69:55
普洛迪夫贝迪夫
1
索菲亚火车头
0
1.11
6.50
41.00
00:16
比罗
0
切尔诺摩尔瓦尔纳
0
1.57
4.00
5.50
29:06
洛维奇利特克斯
0
索菲亚中央陆军
0
2.62
2.60
3.25
智利甲级联赛(秋季)
1
X
2
27:13
帕莱斯蒂诺
0
科布雷罗阿
1
5.50
3.60
1.61
哥斯达黎加杯
1
X
2
03:40
Municipal Perez泽伦顿
0
Pumas Generalena
0
2.10
3.75
3.10
克罗地亚1.HNL
1
X
2
02:09
萨格勒布
0
列积卡
0
5.50
4.00
1.57
丹麦超级联赛
1
X
2
00:59
米迪兰特
0
布隆德比
0
2.37
3.25
2.87
厄瓜多尔国家锦标赛
1
X
2
00:00
国民报
0
奎托
0
3.60
3.10
2.10
爱沙尼亚Esiliiga
1
X
2
45:00
基维利
2
塔林利瓦迪亚II
1
1.61
4.00
4.50
爱沙尼亚Esiliiga B
1
X
2
49:34
JK 西拉美 Kalev II
1
FC埃尔瓦
0
1.44
4.33
6.50
45:00
塔林军团
0
K-Jarve JK Jarve
0
2.10
3.25
3.20
芬兰超级联赛
1
X
2
71:40
古比斯队
4
英特杜古
2
1.006
29.00
201.00
70:24
宏加队
0
查路
4
69:56
拉赫蒂
3
迈柏
0
72:39
特普寺
0
华沙比斯
0
6.00
1.61
3.40
73:53
玛丽港
2
洛凡尼米
3
15.00
3.50
1.40
芬兰甲级联赛
1
X
2
76:18
吉普
1
韦斯基拉
3
201.00
26.00
1.008
72:08
夏卡
1
西菲克
0
1.11
6.50
41.00
75:00
库迪皮
1
FC爱尔维斯
0
1.14
6.00
51.00
芬兰Kakkonen北部
1
X
2
73:29
KPV科高拉
2
OLS
1
1.083
8.00
34.00
75:49
TP-47
3
科科拉 GBK
0
芬兰Kakkonen西部
1
X
2
72:08
FC 咸美恩连拿
1
华沙
2
19.00
6.00
1.16
77:40
SJK II
1
纳佩斯
1
4.33
1.53
5.50
76:55
伊基桑特
0
玛斯库
0
4.00
1.61
4.75
芬兰Kakkonen东部
1
X
2
72:09
FC 富图拉
1
PK 凯斯基-Uusimaa
1
4.00
1.90
3.40
72:52
查普斯
0
Kultsu FC
2
15.00
7.50
1.11
冰岛超级联赛
1
X
2
00:48
IBV 韦斯文尼查
0
弗雷姆雷克查域克
0
1.80
3.75
3.60
01:31
托尔
0
凯夫拉维卡
0
2.20
3.40
2.87
冰岛1 Deild
1
X
2
00:00
斯洛图尔
0
侯卡尔
0
2.20
3.40
3.00
冰岛女子超级联赛
1
X
2
45:00
瓦路尔雷克雅未克 女子
0
Thor KA 阿古雷利 女子
0
3.60
2.75
2.20
墨西哥秋季联赛
1
X
2
00:31
托拉卡
0
莫雷利亚竞技
0
2.00
3.25
3.60
墨西哥20岁以下联赛
1
X
2
26:56
瓜达拉哈拉 20岁以下
0
贾奎斯 20岁以下
0
2.25
3.00
3.20
挪威超级联赛
1
X
2
45:00
奥德
0
候格森德
0
1.90
2.75
5.50
01:06
维京FK
0
利勒斯特罗姆
0
1.80
3.75
4.33
45:00
罗森博格
1
桑恩达
0
1.14
6.50
23.00
挪威乙级联赛1 组
1
X
2
47:32
广士云格
3
斯托姆加斯特2
0
1.01
26.00
34.00
挪威甲级联赛
1
X
2
45:00
云希咸
0
桑纳菲奥尔
1
6.50
3.60
1.57
45:00
克里斯达桑德 BK
3
巴洛姆
0
1.006
29.00
101.00
46:17
特罗达伦
0
赫德
1
9.50
4.00
1.40
波兰Ekstraklasa
1
X
2
45:00
施拉斯克
1
路克丘罗
0
1.30
4.50
12.00
秘鲁甲级联赛
1
X
2
00:51
西恩夏诺
0
巴列霍
0
2.25
3.00
3.40
斯洛伐克超级联赛
1
X
2
00:00
斯特里达
0
泰拿华斯巴达
0
3.00
3.20
2.40
瑞典超级联赛
1
X
2
73:25
IFK诺科平
4
埃尔夫斯堡
2
1.04
13.00
51.00
72:28
奥雷布洛
1
希尔星堡
1
4.33
1.66
4.00
72:57
阿特维达堡
2
布若马博亚纳
1
1.16
5.50
34.00
瑞典甲级联赛
1
X
2
41:16
哈马比
2
奥斯达
0
1.02
19.00
67.00
瑞典杯
1
X
2
45:00
艾斯基斯迈IF
4
FC Höllviken
0
危地马拉甲级联赛
1
X
2
02:32
CSD穆尼斯帕尔
0
夏拉祖
0
1.61
3.60
5.00
斯洛文尼亚Prva联赛
1
X
2
45:00
拉多姆列
0
科佩尔
1
17.00
6.50
1.14

----------(1.66 3.40 4.75)--------
----------(2.87 3.60 2.20)--------
----------(2.75 2.50 3.00)--------
----------(1.002 51.00 67.00)--------
----------(2.50 3.60 2.50)--------
----------(5.00 3.75 1.61)--------
----------(7.00 3.00 1.61)--------
----------(白俄罗斯超级联赛 1 X)--------
----------(0 1.002 51.00)--------
----------(1.25 4.75 15.00)--------
----------(1.11 6.50 41.00)--------
----------(1.57 4.00 5.50)--------
----------(2.62 2.60 3.25)--------
----------(5.50 3.60 1.61)--------
----------(2.10 3.75 3.10)--------
----------(5.50 4.00 1.57)--------
----------(2.37 3.25 2.87)--------
----------(3.60 3.10 2.10)--------
----------(1.61 4.00 4.50)--------
----------(1.44 4.33 6.50)--------
----------(2.10 3.25 3.20)--------
----------(1.006 29.00 201.00)--------
----------(6.00 1.61 3.40)--------
----------(15.00 3.50 1.40)--------
----------(201.00 26.00 1.008)--------
----------(1.11 6.50 41.00)--------
----------(1.14 6.00 51.00)--------
----------(1.083 8.00 34.00)--------
----------(芬兰Kakkonen西部 1 X)--------
----------(2 19.00 6.00)--------
----------(1 4.33 1.53)--------
----------(0 4.00 1.61)--------
----------(4.00 1.90 3.40)--------
----------(15.00 7.50 1.11)--------
----------(1.80 3.75 3.60)--------
----------(2.20 3.40 2.87)--------
----------(2.20 3.40 3.00)--------
----------(3.60 2.75 2.20)--------
----------(2.00 3.25 3.60)--------
----------(2.25 3.00 3.20)--------
----------(1.90 2.75 5.50)--------
----------(1.80 3.75 4.33)--------
----------(1.14 6.50 23.00)--------
----------(1.01 26.00 34.00)--------
----------(6.50 3.60 1.57)--------
----------(1.006 29.00 101.00)--------
----------(9.50 4.00 1.40)--------
----------(1.30 4.50 12.00)--------
----------(2.25 3.00 3.40)--------
----------(3.00 3.20 2.40)--------
----------(1.04 13.00 51.00)--------
----------(4.33 1.66 4.00)--------
----------(1.16 5.50 34.00)--------
----------(1.02 19.00 67.00)--------
----------(危地马拉甲级联赛 1 X)--------
----------(0 1.61 3.60)--------
----------(17.00 6.50 1.14)--------