{% include "head.html" %}

<div class="container">

<div class="row">
    <div class="col-md-12">
        <h4>
            视频直播
        </h4><hr/>
        <div class="row">
            <div class="col-md-9">
                
                <ul class="list-group">
                    {% for liveMatch in liveMatchs%}
                        <li class="list-group-item list-group-item-success">
                        {{ liveMatch.matchName }}
                        {{ liveMatch.linkPath|safe }}
                        </li>
                    {% endfor %}
                </ul>
                
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}
