{% include "head.html" %}

<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ titleName }}
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
            	    <a href="#" target="_blank"><font color="red"><strong>直播信号:</strong></font></a></br>
                    <li>{{ matchDetails|safe }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{% include "footer.html" %}